 .header-container { 
  
  .site-header {
      height: var(--header-height);
      display: flex;
      align-items: center;
      padding: 3.5rem 1rem;
    }
    
    .site-header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

    }
    
    .header-left, .header-right {
      display: flex;
      align-items: center;
    }
    
    .logo-container {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    
    .site-logo {
      height: 4.5rem;
    }
    
    .header-links, .action-links {
      display: flex;
      gap: 15px;
    }
    
    .header-link, .action-link {
      font-size: 14px;
      font-family: 'Red Hat Text', sans-serif;
      font-weight: 500;
    }
    
    .action-link.highlight {
      background-color: var(--accent-color);
      padding: 5px 40px;
      border-radius: 5px;
    }

    .action-link.highlight.none {
      background-color: transparent;
      padding: 5px 4px;
    }
  }