/* src/components/common/ArticleCard/ArticleCard.css */
.article-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color-light); /* Border under entire card on small screens */
}

.article-card--sidebar {
  padding-bottom: 0.3rem;
}

.article-card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Removed the border-bottom from here for small screens */
}

.article-card__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article-card__title--sidebar {
  font-size: 15px;
}

.article-card__summary {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.article-card__link {
  color: inherit;
  text-decoration: none;
}

.article-card__link:hover,
.article-card__link:focus {
  text-decoration: underline;
}

.article-card__image-container {
  margin: 0;
  padding: 0;
}

.article-card__image {
  border-radius: 4px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .article-card {
    flex-direction: row;
    border-bottom: none; /* Remove border from entire card on larger screens */
  }
  
  .article-card__text {
    flex: 1;
    padding-right: 1rem;
    border-bottom: 1px solid var(--border-color-light); /* Add border to text only on larger screens */
  }
  
  .article-card__image-container {
    flex: 2;
  }
}